.container {
  @apply flex flex-col items-start justify-center text-white gap-4 box-border;
}

@keyframes colorAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  @apply flex flex-col items-center justify-center gap-4 box-border;
}

.background-animate {
  background-size: 300%;

  -webkit-animation: colorAnimation 4s linear infinite;
  -moz-animation: colorAnimation 4s linear infinite;
  animation: colorAnimation 4s linear infinite;
}
